In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.DataFrame([('Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same', 'Yes'),
                     ('Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same', 'Yes'),
                     ('Rainy', 'Cold', 'High', 'Strong', 'Warm', 'Change', 'No'),
                     ('Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change', 'Yes')], columns=['Sky','Temp','Humidity','Wind','Water','Forcast','Enjoy_Sport'])

In [3]:
df

     Sky  Temp Humidity    Wind Water Forcast Enjoy_Sport
0  Sunny  Warm   Normal  Strong  Warm    Same         Yes
1  Sunny  Warm     High  Strong  Warm    Same         Yes
2  Rainy  Cold     High  Strong  Warm  Change          No
3  Sunny  Warm     High  Strong  Cool  Change         Yes

In [4]:
attributes = np.array(df)[:,:-1]
print("The attributes are: ", attributes)

target = np.array(df)[:,-1]
print("\nThe target is: ", target)

The attributes are:  [['Sunny' 'Warm' 'Normal' 'Strong' 'Warm' 'Same']
 ['Sunny' 'Warm' 'High' 'Strong' 'Warm' 'Same']
 ['Rainy' 'Cold' 'High' 'Strong' 'Warm' 'Change']
 ['Sunny' 'Warm' 'High' 'Strong' 'Cool' 'Change']]

The target is:  ['Yes' 'Yes' 'No' 'Yes']

In [5]:
def learn(attributes, target):
    for i, val in enumerate(target):
        if val == "Yes":
            specific_hypothesis = attributes[i].copy()
            break
             
    for i, val in enumerate(attributes):
        if target[i] == "Yes":
            for x in range(len(specific_hypothesis)):
                if val[x] != specific_hypothesis[x]:
                    specific_hypothesis[x] = '?'
                else:
                    pass
                 
    return specific_hypothesis

In [6]:
print("The Final Hypothesis is: ", learn(attributes, target))

The Final Hypothesis is:  ['Sunny' 'Warm' '?' 'Strong' '?' '?']